[Desktop Entry]
Name=Lens
Exec=/opt/Lens/lens %U
Terminal=false
Type=Application
Icon=k8s-lens
StartupWMClass=Lens
Comment=Lens - The Kubernetes IDE
MimeType=x-scheme-handler/lens;
Categories=Network;
